.sign-in{
    width: 400px;
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0;
    }

    .btn-box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}